/target/
/.classpath
/bin/
/.settings/

.metadata/


# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

*.zip
!test/resources/com/hepta/sgh/rest/recibos.zip		# Para teste		

*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.vscode/settings.json
.vscode/launch.json

.idea
*.iml
.factorypath
/bin/
*.gz
*.out

.project
/.apt_generated/
/.apt_generated_tests/

src/main/webapp/META-INF/MANIFEST.MF
out/

